Repository mmchougule/kedro-grpc-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-quick-kedro_server, pylint-quick-tests, bandit

pylint-quick-kedro_server:
  name: Quick PyLint on kedro_server/*
  language: system
  entry: pylint -j0 --disable=unnecessary-pass
  stages:
  - commit

pylint-quick-tests:
  name: Quick PyLint on tests/*
  language: system
  entry: pylint -j0 --disable=missing-docstring,redefined-outer-name,no-self-use,unused-argument
  stages:
  - commit

bandit:
  name: Bandit security check
  language: system
  entry: bandit -ll

Cleanup
  kedro_server/__init__.py
  requirements.txt
Due: pylint-quick-kedro_server, bandit

Rename kedro server
  grpc_client_examples/python/grpc_client.py
  kedro_grpc_server/__init__.py
  kedro_grpc_server/app.py
  kedro_grpc_server/grpc_server.py
  kedro_grpc_server/kedro.proto
  kedro_grpc_server/kedro_pb2.py
  kedro_grpc_server/kedro_pb2_grpc.py
  kedro_grpc_server/process_manager.py
  kedro_server/kedro_pb2.py
  kedro_server/kedro_pb2_grpc.py
  setup.py
  tests/test_grpc_server.py
Due: pylint-quick-kedro_server, pylint-quick-tests, bandit

Update readme to include pypi pip install command
  README.md
Due: none

gRPC client examples added
  README.md
Due: none

Add server and client demo gif
  docs/images/go_client_kedro.gif
  docs/images/kedro_grpc_server.gif
Due: none

Update readme with demo gifs
  README.md
Due: none

Java example added
  README.md
Due: none

Scala example added
  README.md
Due: none

Path conditions:
  pylint-quick-kedro_server: any of: ^kedro_server/ and \.py$
  pylint-quick-tests: any of: ^tests/ and \.py$
  bandit: any of: \.py$, but not: ^tests/
